---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<!-- Display github cards -->
{% if site.github-repos %}
  <h1>Repositories</h1>
  <div class="grid__wrapper">
    {% for repo in site.github-repos %}
      <div class="github-card" data-github="{{repo.name}}" data-width="300em" data-height="" data-theme="default"></div>
    {% endfor %}
  </div>
  <script src="/assets/github-cards/src/widget.js"></script>
{% endif %}
